# Cleaning Accident

In [1]:
print("ehllo")

ehllo

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
path = 'C:/Users/Avinash/Desktop/Programmes/Resources/Raw'

In [4]:
df = pd.read_csv(path + '/accident.csv')

In [5]:
df.head()

,AccidentIndex,Severity,Date,Day,SpeedLimit,LightConditions,WeatherConditions,RoadConditions,Area
0,201501BS70001,Slight,12/1/2015,Monday,30,Darkness,Fine no high winds,Dry,Urban
1,201501BS70002,Slight,12/1/2015,Monday,30,Daylight,Fine no high winds,Dry,Urban
2,201501BS70004,Slight,12/1/2015,Monday,30,Darkness,Raining no high winds,Wet or damp,Urban
3,201501BS70005,Slight,13/01/2015,Tuesday,30,Daylight,Fine no high winds,Wet or damp,Urban
4,201501BS70008,Serious,9/1/2015,Friday,30,Daylight,Raining no high winds,Wet or damp,Urban

In [6]:
df.shape

(80532, 9)

## Connect to MySQL

In [1]:
import mysql.connector

conn = mysql.connector.connect(
    host = 'localhost',
    user = 'Analyst',
    password = 'Analyst@12',
    database = 'layoffs'
)

cursor = conn.cursor()

: