In [1]:
print("hello")

hello

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import mysql.connector

In [2]:
path = 'C:/Users/Avinash/Desktop/Programmes/Resources/Raw'

In [3]:
df = pd.read_csv(path + '/layoffs.csv')

In [4]:
df.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
0,Atlassian,Sydney,Other,500.0,0.05,3/6/2023,Post-IPO,Australia,210.0
1,SiriusXM,New York City,Media,475.0,0.08,3/6/2023,Post-IPO,United States,525.0
2,Alerzo,Ibadan,Retail,400.0,NaN,3/6/2023,Series B,Nigeria,16.0
3,UpGrad,Mumbai,Education,120.0,NaN,3/6/2023,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,3/3/2023,Unknown,Brazil,788.0

In [5]:
df.shape

(2361, 9)

In [6]:
df.columns

Index(['company', 'location', 'industry', 'total_laid_off',
       'percentage_laid_off', 'date', 'stage', 'country',
       'funds_raised_millions'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2361 entries, 0 to 2360
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                2361 non-null   object
 1   location               2361 non-null   object
 2   industry               2357 non-null   object
 3   total_laid_off         1621 non-null   float64
 4   percentage_laid_off    1576 non-null   float64
 5   date                   2360 non-null   object
 6   stage                  2355 non-null   object
 7   country                2361 non-null   object
 8   funds_raised_millions  2152 non-null   float64
dtypes: float64(3), object(6)
memory usage: 166.1+ KB

In [8]:
from sqlalchemy import create_engine, Table, Column, MetaData, Integer, String, Float, Date


# Create a database connection string
DATABASE_TYPE = 'mysql'
DB_DRIVER = 'pymysql'
USERNAME = 'Analyst'
PASSWORD = '123456789asdf'
HOST = 'localhost'
PORT = '3306'
DATABASE = 'world_layoffs'

# Connection URL for SQLAlchemy
connection_string = f"{DATABASE_TYPE}+{DB_DRIVER}://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

# Test the connection
try:
    # Establish a connection to the database
    with engine.connect() as connection:
        print("Connection to the database was successful!")
except Exception as e:
    print(f"An error occurred while connecting to the database: {e}")

Connection to the database was successful!

In [10]:
with engine.connect() as connection:
    # Insert the DataFrame rows into the database
    df.to_sql(name = 'layoffs', con=engine, if_exists='append', index=False)
    print("Data inserted successfully!")

Data inserted successfully!

In [14]:
# Verifying the Data Insertion
from sqlalchemy import text
with engine.connect() as connection:
    result = connection.execute(text("SELECT COUNT(*) FROM layoffs;"))
    for row in result:
        print(f"Total rows in the layoffs table: {row[0]}")

Total rows in the layoffs table: 2361